

@if (cartService.getCartContent().length === 0 && cartService.showCart) {
        <ng-container style="width: 500px; margin: auto;">
            <div class="d-flex justify-content-center align-items-center flex-column" style="height: 200px;">
                <p>Le panier est vide</p>
            </div>
        </ng-container>
    } @else if (cartService.getCartContent().length > 0 && cartService.showCart) {
        <ng-container >
            <div style="width: 700px; margin: auto;">
                <table class="table table-striped table-hover shadow rounded border">
                    <thead class="{{theme}}-theme fs-5">Contenu du panier</thead>
                    <tbody>
                    @for (item of cartService.getCartContent(); track item.id) {
                        <tr valign="middle">
                            <td class="{{theme}}-theme">{{item.id}}</td>
                            <td class="{{theme}}-theme">{{item.name}}</td>
                            <td class="{{theme}}-theme">{{item.price * item.quantity}} €</td>
                            <td class="{{theme}}-theme">Quantité : {{item.quantity}}</td>
                            <td class="{{theme}}-theme"><a class="delete-button" matButton="filled" (click)="cartService.removeFromCart(item.id)">Supprimer</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>  
        </ng-container>
        <div class="d-flex row justify-content-between">
            <div>
                <strong>Total : {{cartService.getTotalPrice()}} €</strong>
            </div>
            <button class="btn btn-success" (click)="checkout()">Passer la commande</button>
        </div>
    }
