

@if (cartService.getCartContent().length === 0 && cartService.showCart) {
        <div>Le panier est vide</div>
    } @else if (cartService.getCartContent().length > 0 && cartService.showCart) {
        <ng-container>
            <h3>Contenu du panier</h3>
            <table class="table table-striped table-hover">
                @for (item of cartService.getCartContent(); track item.id) {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price * item.quantity}} €</td>
                        <td>Quantité : {{item.quantity}}</td>
                        <td><a class="btn btn-danger" (click)="cartService.removeFromCart(item.id)">Remove</a></td>
                    </tr>
                }
            </table>
        </ng-container>
        <div>
            <strong>Total : {{cartService.getTotalPrice()}} €</strong>
        </div>
    }