
main, .light-theme {
      background-color: #f0f0f0;
      color: #333;
}

main, .dark-theme {
      background-color: #333;
      color: #f0f0f0;
}

.cart {
      position: relative;
      display: inline-block;
    }

.cart .badge {
      position: absolute;
      top: -8px;
      right: -8px;
      padding: 4px 6px;
      border-radius: 50%;
      font-size: 0.75rem;
    }
