
<ng-container>
    <form class="needs-validation d-flex flex-column gap-3 justify-content-center align-items-start rounded p-4 shadow" style="width: 500px" >
        <div class="mb-3 d-flex flex-row gap-2 align-items-center">
            <label for="firstName">Prénom:</label>
            <input style="width: 400px" class="form-control" type="text" id="firstName" [(ngModel)]="userData['firstName']" name="firstName" required />
        </div>
        <div class="mb-3 d-flex flex-row gap-2 align-items-center">
            <label for="lastName">Nom:</label>
            <input style="width: 400px" class="form-control" type="text" id="lastName" [(ngModel)]="userData['lastName']" name="lastName" required />
        </div>
        <div class="mb-3 d-flex flex-row gap-2 align-items-center">
            <label for="email">Email:</label>
            <input style="width: 400px" class="form-control" type="email" id="email" [(ngModel)]="userData['email']" name="email" required />
        </div>
        <div class="mb-3 d-flex flex-row gap-2 align-items-center">
            <label for="phone">Téléphone:</label>
            <input style="width: 380px" class="form-control" type="tel" id="phone" [(ngModel)]="userData['phone']" name="phone" required />
        </div>
        <div class="w-100 d-flex justify-content-center">
             <button matButton="filled" type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </form>
</ng-container>

